<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ChangePasswordServerlet</servlet-name>
        <servlet-class>controler.ChangePasswordServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_confirm</servlet-name>
        <servlet-class>controler.payment_confirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment_history</servlet-name>
        <servlet-class>controler.payment_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingdetail</servlet-name>
        <servlet-class>controler.bookingdetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServerlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp
       </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginGoogleHandler</servlet-name>
        <servlet-class>controler.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controler.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controler.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpServlet</servlet-name>
        <servlet-class>controler.OtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>controler.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerList</servlet-name>
        <servlet-class>controler.ManagerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controler.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginGoogleHandler</servlet-name>
        <url-pattern>/loginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpServlet</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerList</servlet-name>
        <url-pattern>/managerlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>explore_show</servlet-name>
        <servlet-class>controler.explore_show</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>event_detail</servlet-name>
        <servlet-class>controler.event_detail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>explore_show</servlet-name>
        <url-pattern>/explore_show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>event_detail</servlet-name>
        <url-pattern>/event_detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>savepayment</servlet-name>
        <servlet-class>controler.savepayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vnpaytest</servlet-name>
        <url-pattern>/vnpaytest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savepayment</servlet-name>
        <url-pattern>/savepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_confirm</servlet-name>
        <url-pattern>/payment_confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment_history</servlet-name>
        <url-pattern>/payment_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingdetail</servlet-name>
        <url-pattern>/bookingdetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>controler.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.vnpay.common.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.vnpay.common.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpaytest</servlet-name>
        <servlet-class>controler.vnpaytest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/</url-pattern>
    </servlet-mapping>
</web-app>
